{% extends 'base.html.twig' %}


{% block body %}



{{ form_start(form) }}
 
    {{ form_errors(form) }}
    <div class="container center_div">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
         <h1>Add Post</h1></br>
    <div>
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    <br/>
    <div>
        {{ form_row(form.content) }}
    </div>
    <br/>
    <div>
        {{ form_widget(form.save) }}
    </div>
    </div>
    </div>
    </div>
    {{ form_end(form) }}


{% endblock %}